@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


.hw-to {
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 820px
}

.hw-to-in {
    margin: 5px;
}

.body-centa {
    text-align: center;
}

.boder-ra {
    border-radius: 7px;
}

.resp {
    margin: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 610px
}

.butt {
    margin: 5px;
}